<div class='form-check mt-4'>
  <input type="checkbox" class="form-check-input" data-action="change->movies#checkAllCheckboxes">
  <label>Check all</label>
</div>

<hr>
<% @movies.each do |movie| %>
  <div class='form-check'>
    <input type="checkbox" class="form-check-input" data-movies-target="checkbox" data-id="<%= movie.id %>">
    <label><%= movie.title %></label>
  </div>
<% end %>
<hr>
