<div class="border-top border-bottom py-3">
  <% @movies.each do |movie| %>
    <div class='form-check'>
      <input type="checkbox" class="form-check-input" data-all-checkboxes-target="checkbox" data-batch-destroy-target="checkbox" data-id="<%= movie.id %>">
      <label><%= movie.title %></label>
    </div>
  <% end %>
</div>
