<div class="container">
  <div class='mt-5'  data-controller='movies' >
    <h3>Movies to watch 🍿</h3>
    <div class='form-check mt-4'>
      <input type="checkbox" class="form-check-input" data-action="change->movies#checkAllCheckboxes">
      <label>Check all</label>
    </div>

    <div>
      <%= render 'list', movies: @movies %>
    </div>

    <button class='btn btn-sm btn-danger mt-3'>Delete selected movies</button>
  </div>
</div>

